html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;

  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #2c2c2c;
  color: white;
}

h1 {
  text-align: center;
}

button {
  border: none;
}

.textCentred {
  text-align: center;
}

.bgcgray {
  background-color: #5e5e5e;
}

.m-top10 {
  margin-top: 10px;
}

.fullHeight {
  height: 100vh;
}

.userConfig {
  display: flex;
  justify-content: space-around;
}

.logoAndUser {
  display: flex;

  width: 50%;
}
.config {
  width: 50%;

  text-align: right;
}

.centerCard {
  display: flex;
  justify-content: center;

  margin: 10px auto 0 auto;
  width: 80%;
}

.formSection {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.formSection h1 {
  font-size: 3rem;

  height: 20%;
  padding-top: 5vh;
}

.formCard {
  margin: 10px auto 0 auto;
  padding: 20px 0;
  width: 60%;
  height: 80%;
}

.formCard h2 {
  margin: 0 20px;
}

.formElements {
  display: flex;
  flex-direction: column;

  padding: 0 20% 0;
}

.formElements label {
  margin: 10px 0 5px;
}

.formElements input {
  margin: 5px 0;
  padding: 10px;
}

.formElements input::placeholder {
  padding: 50px;
}

.buttonForm {
  margin: 10px auto 0 auto;
  width: 25%;
}

.start {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100%;
}

.start button {
  padding: 10px 20px;
  border-radius: 5px;

  font-size: 4rem;
  color: white;

  background-color: #008caa;
}

.activeWorkingContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.activeWorking {
  display: flex;
  justify-content: center;
  align-items: space-between;

  height: 50%;
  width: 60%;
}

.activeWorking div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.timer h2 {
  font-size: 4rem;
}

.timer h3 {
  font-size: 2rem;
}

.onActiveButtons {
  display: flex;
  justify-content: space-evenly;
}

.activePause {
  margin: 10px auto 0 auto;
  width: 80%;
}

.timerButtonActiveWorking {
  display: flex;
  justify-content: space-evenly;
}
/* Dentro del input poner el texto con Pseudoelemento ::placeholder */
